/* CSS Demo Stylesheet */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*---------Responsive Images--------*/
  img {
    max-width: 100%;
  }

  /*---------Utility Classes--------*/
  .container {
    width: 80vw;
    max-width: 960px;
    margin: 40px auto;
  }
  /*  ---------------Global Styles-----------------  */

body {
    background-image: linear-gradient(#867796, white);
    font-family: "Gowun Batang", serif;
    color: #000000;
    margin:0;
    background-attachment: fixed;
}
header.primary {
    background:#57436B;
    padding: 40px;
}
header.primary h1 {
    text-align: center;
    font-size: 2.7rem;
    text-shadow: 1px 1px #000000;
}
header.primary h2 {
  text-align: center;
  font-size: 1.8rem;
  margin:0;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
}
header.primary a {
  color: #ffffff;
  text-shadow: 1px 1px #000000;
}
nav.primary {
  text-align: center;
  text-shadow: 1px 1px 1px ;
  max-width: 960px;
  margin: auto;
}
nav.primary ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav.primary ul li {
  list-style-type: none;
}
nav.primary ul li a {
  color: #ffffff;
  border: 3px solid #B0A1C0;
  padding: 7.5px 10px;
  border-radius: 20px;
  background-color: #2F1E41;
  text-decoration: none;
}
nav.primary ul li a:hover {
  background-color:#B0A1C0;
}
#intro h2 {
  color: #57436B;
  border-bottom: 3px dotted #2F1E41;
  text-shadow: 1px 1px #000000;
}
#content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

#content article.post {
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  padding: 10px;
  border-radius: 4px;
  font-size: .8rem;
  background-color: #ffffff;
}

time.post-date figcaption{
  text-transform: uppercase;
}

#content article.post figure {
  margin:0;
}


/*---------Media Queries---------*/ 
@media screen and (max-width:600px) {
  nav.primary ul {
    flex-direction: column;
    gap:10px;
    max-width: 250px;
    margin: auto;
  }
}